:root {
  --bg-color: #fffaf2;
  --text-color: #321806;
  --btn-color: #ffe62b;
  --shadow: 0 0 30px 1px #0000001f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  padding: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

.call-form {
  display: block;
  margin: 16px auto;
  background-color: var(--btn-color);
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: var(--shadow);
}

.books-container {
  display: grid;
  justify-items: center;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

table {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 650px;
  padding: 16px;
}

thead {
  position: sticky;
  background-color: var(--bg-color);
  top: 0;
  font-size: 1.1rem;
}

.book-details {
  display: none;
}

.author-title {
  width: 260px;
}

td,
th {
  padding: 8px 4px;
  border-bottom: 2px solid var(--btn-color);
}

table button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--btn-color);
}

.pages,
.status {
  text-align: center;
}

.change-status,
.eliminate {
  display: block;
  margin: auto;
}

.form-container {
  background-color: #00000091;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  overflow-y: auto;
}

form {
  background-color: var(--bg-color);
  padding: 32px 16px;
  width: 300px;
  margin: auto;
  position: relative;
  border-radius: 8px;
}

.close-form {
  fill: red;
  width: 24px;
  position: absolute;
  right: 4px;
  top: 4px;
}

form h2 {
  padding: 8px 0;
  text-align: center;
  font-size: 1.2rem;
}

.book-info {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.book-info input {
  padding: 6px;
  border: 1px solid transparent;
  margin-top: 2px;
  border-radius: 9px;
  box-shadow: var(--shadow);
  outline-color: var(--btn-color);
}

form fieldset {
  margin-top: 8px;
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  border: none;
}

.add-book {
  background-color: var(--btn-color);
  color: var(--text-color);
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  box-shadow: var(--shadow);
}

button,
svg {
  transition: transform 0.2s ease-in-out;
}

button:hover,
svg:hover {
  cursor: pointer;
  transform: scale(1.03);
}

input[type="checkbox"] {
  background-color: var(--btn-color);
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}
