:root {
  --bg-color: #fffaf2;
  --text-color: #321806;
  --btn-color: #ffe62b;
  --shadow: 0 0 16px -4px #0000001f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  padding: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

.call-form {
  display: block;
  margin: 16px auto;
  background-color: var(--btn-color);
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: var(--shadow);
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 24px;
  justify-content: center;
  padding: 16px;
  margin: auto;
}

.book {
  width: 180px;
  background-color: var(--bg-color);
  padding: 12px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.svg-container {
  display: grid;
  justify-items: center;
  padding: 8px 0;
}

.svg-container .father-svg {
  width: 100%;
  height: 60px;
  transform: none;
}

.book p {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-container {
  padding: 8px 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 4px;
}

.buttons-container button {
  background-color: var(--btn-color);
  color: var(--text-color);
  border: none;
  padding: 4px 2px;
  border-radius: 4px;
}
/* ##################################### */

.form-container {
  background-color: #00000091;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  overflow-y: auto;
}

form {
  background-color: var(--bg-color);
  padding: 32px 16px;
  width: 300px;
  margin: auto;
  position: relative;
  border-radius: 8px;
}

.close-form {
  fill: red;
  width: 24px;
  position: absolute;
  right: 4px;
  top: 4px;
}

form h2 {
  padding: 8px 0;
  text-align: center;
  font-size: 1.2rem;
}

.book-info {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.book-info input {
  padding: 6px;
  border: 1px solid transparent;
  margin-top: 2px;
  border-radius: 9px;
  box-shadow: var(--shadow);
  outline-color: var(--btn-color);
}

form fieldset {
  margin-top: 8px;
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  border: none;
}

.create-book {
  background-color: var(--btn-color);
  color: var(--text-color);
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  box-shadow: var(--shadow);
}
button {
  color: var(--text-color);
}

button,
svg {
  transition: transform 0.2s ease-in-out;
}

button:hover,
svg:hover {
  cursor: pointer;
  transform: scale(1.03);
}

input[type="checkbox"] {
  background-color: var(--btn-color);
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}

@media (max-width: 400px) {
  input {
    font-size: 16px;
  }
}
